.card-title {
    padding: 5px 0 5px 0;
    font-size: 18px;
    font-weight: 500;
    color: #00000f;
    font-family: "Poppins", sans-serif;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    background-color: aliceblue;
  }
  .card-title-report {
    padding: 5px 0 5px 0;
    font-size: 18px;
    font-weight: 500;
    color: #00000f;
    font-family: "Poppins", sans-serif;
    text-align: left;
    
  }

  .align-button {
    text-align: end;
    align-self: flex-end;
    padding: 10px 8px 10px 0px;
    margin-right: 12px;
  }

  .report-table {
    width: 100% !important;
    overflow-x: auto;
  }