.card-title {
    padding: 5px 0 5px 0;
    font-size: 18px;
    font-weight: 500;
    color: #00000f;
    font-family: "Poppins", sans-serif;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    background-color: aliceblue;
  }

  .form-title {
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #00000f;
    font-family: "Poppins", sans-serif;
  }