<app-header></app-header>
<!-- <app-side-nav></app-side-nav> -->


<main id="main" class="main">
    <div class="pagetitle">
       <h1>Tracker</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Trackers</li>
          </ol>
       </nav>
    </div>
    
    <section class="section">
       <div class="row">
          <div class="col-lg-12">
             <div class="card">
                <div class="align-button">
                    <a routerLink="/add-tracker">
                      <button type="button" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i> Add Tracker
                      </button>
                    </a>
                  </div>
                <div class="card-body">
                   <h5 class="card-title">MY TRACKERS</h5>
                  
                   <table class="table datatable">
                      <thead>
                         <tr>
                            <th scope="col">#</th>
                            <th scope="col">DESC</th>
                            <th scope="col">WEBSITE/URL</th>
                            <th scope="col">ID</th>
                            <th scope="col">NAME</th>
                            <th scope="col">PRICE</th>
                            <th scope="col">OFFER PRICE</th>
                            <th scope="col">PRODUCT MATCH</th>
                            <th scope="col">EDIT/DELETE</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <th scope="row">1</th>
                            <td>Real Estate 01</td>
                            <td>https://www.xyz.com</td>
                            <td>111111</td>
                            <td>Package - Courses Standard</td>
                            <td>9999.99</td>
                            <td>9999.99</td>
                            <td>Package - Prep Plus</td>
                            <td>Edit | Delete</td>
                         </tr>
                         <tr>
                           <th scope="row">2</th>
                           <td>Real Estate 02</td>
                            <td>https://www.xyz.com</td>
                            <td>111111</td>
                            <td>Package - Courses Standard</td>
                            <td>9999.99</td>
                            <td>9999.99</td>
                            <td>Package - Prep Plus</td>
                            <td>Edit | Delete</td>
                         </tr>
                        <tr>
                           <th scope="row">3</th>
                           <td>Real Estate 03</td>
                            <td>https://www.xyz.com</td>
                            <td>111111</td>
                            <td>Package - Courses Standard</td>
                            <td>9999.99</td>
                            <td>9999.99</td>
                            <td>Package - Prep Plus</td>
                            <td>Edit | Delete</td>
                         </tr>
                       
                         
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>