<app-header></app-header>
<!-- <app-side-nav></app-side-nav> -->


<main id="main" class="main">
    <div class="pagetitle">
       <h1>Tracker</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Trackers</li>
          </ol>
       </nav>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tracker Form</h5>
        <form class="row g-3">
          <div class="col-4">
            <label for="productId" class="form-label">Product ID : 111111</label>
            <!-- <input
              type="text"
              class="form-control"
              id="productId"
              formControlName="productId"
            /> -->
          </div>
  
          <div class="col-4">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
            />
          </div>
          <div class="col-4">
            <label for="barcode" class="form-label">Barcode</label>
            <input
               type="text"
               class="form-control"
               id="barcode"
               formControlName="barcode"
          />
           
          </div>
          
          <div class="col-4">
            <label for="price" class="form-label">Price</label>
            <input
               type="text"
               class="form-control"
               id="price"
               formControlName="price"
          />
           
          </div>
          <div class="col-4">
            <label for="additionalCosts" class="form-label">Additional Costs</label>
            <input
               type="text"
               class="form-control"
               id="additionalCosts"
               formControlName="additionalCosts"
          />
           
          </div>
          <div class="col-4">
            <label for="brand" class="form-label">Brand</label>
            <input
               type="text"
               class="form-control"
               id="brand"
               formControlName="brand"
          />
           
          </div>
          <div class="col-4">
            <label for="locale" class="form-label">Locale</label>
            <input
               type="text"
               class="form-control"
               id="locale"
               formControlName="locale"
          />
           
          </div>
          <div class="col-4">
            <label for="category" class="form-label">Category</label>
            <input
               type="text"
               class="form-control"
               id="category"
               formControlName="category"
          />
           
          </div>
       
        </form>
        <div class="text-center pt-4">
          <button type="button" class="btn btn-primary">
            Save
          </button>
        </div>
      </div>
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-12">
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title">Products List</h5>
                  
                   <table class="table datatable">
                      <thead>
                         <tr>
                            <th scope="col">#</th>
                            <th scope="col">Product ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Locale</th>
                            <th scope="col">Category</th>
                            <th scope="col">Price</th>
                            <th scope="col">Add. Costs</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <th scope="row">1</th>
                            <td>111111</td>
                            <td>Package - The Basics</td>
                            <td>Real Estate</td>
                            <td>FL</td>
                            <td>Continuing Education</td>
                            <td>9999.99</td>
                            <td>0.00</td>
                         </tr>
                         <tr>
                           <th scope="row">2</th>
                           <td>222222</td>
                           <td>Package - Exam Prep</td>
                           <td>Real Estate</td>
                           <td>FL</td>
                           <td>Continuing Education</td>
                           <td>9999.99</td>
                           <td>0.00</td>
                        </tr>
                        <tr>
                           <th scope="row">3</th>
                           <td>333333</td>
                           <td>Package - Prep Plus</td>
                           <td>Real Estate</td>
                           <td>FL</td>
                           <td>Continuing Education</td>
                           <td>9999.99</td>
                           <td>0.00</td>
                        </tr>
                       
                         
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>