<app-header></app-header>
<!-- <app-side-nav></app-side-nav> -->


<main id="main" class="main">
    <div class="pagetitle">
       <h1>Settings</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Settings</li>
          </ol>
       </nav>
    </div>
    
    <section class="section">
       <div class="row">
          <div class="col-lg-12">
             <div class="card">
               
                <div class="card-body">
                   <h5 class="card-title">MY SETTINGS</h5>
                    <div class="report-icons">
                        <div class="icon-wrapper" style="width: 203px;" routerLink="/settings-products">
                            
                            <h5 class="card-title">PRODUCT SETTINGS</h5>
                        </div>
                        <div class="icon-wrapper" style="width: 203px;" routerLink="/settings-trackers">
                            
                            <h5 class="card-title">TRACKER SETTINGS</h5>
                        </div>
                        
                    </div>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>