.align-button {
    text-align: end;
    align-self: flex-end;
    padding: 10px 8px 10px 0px;
    margin-right: 12px;
  }

  .card-title {
    padding: 5px 0 5px 0;
    font-size: 18px;
    font-weight: 500;
    color: #00000f;
    font-family: "Poppins", sans-serif;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    background-color: aliceblue;
  }

  .table-header {
    color: white;
    background-color: #2e6dbc;
    font-weight: 400;
  }

  table,td,tr {
    border: 1px solid;
    text-align: center;
  }